/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --header_bg-image: url("../images/cover-image-dark.png");
  --header_bg-color: #000028;
  --main_text-color: #f1b2ce;
  --section_title-color: #ff0070;
  --accent-color: #ff0070;
  --header_title-color: #db00ff;
  --text-decor-color: #000028;
  --nav_hover-color: rgb(255 0 112 / 0.4);
  --nav_color: #ff0070;
  --nav_decorated: #ff0070;
}

.theme-dark .page {
  .rec::before,
  .rec::after {
    display: block;
  }
}
